* {
    box-sizing: border-box;
}

:root {
    --color: white;
}

.navbar {
    background-color: #1E202B;
}

.textLogo {
    display: inline-block;
    vertical-align: middle;
}

.textLogo h1 {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color);

}

.textLogo span {
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color);
}

ul li {
    
    padding-left: 5px;
    transition: all 0.3s;

}

ul li:hover a{

    border: 2px solid rgb(0, 154, 216);
    border-radius: 20px;
    /* margin-left: 10px; */

}

ul li:hover a {
    color: rgb(0, 154, 216) !important;
    
}

ul li a {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white !important;
    transition: all 0.4s;
}
.navbar-nav .nav-link.active{
    color: rgb(0, 154, 216) !important;
    border: 2px solid rgb(0, 154, 216);
    border-radius: 20px;

}
/* =======================header======================================= */

.header {
    background-color: #1E202B;
    min-height: 100vh;
    background-image: linear-gradient(to top, #1E202B 0% 50%, 
    transparent 50% 100%), url(../images/banner.png);
    background-size: cover;
    background-position: center;
}

.headerBgImd {
    padding: 70px 0;
    min-height: 350px;
}

.searchInput {
    height: 50px;
    border-radius: 20px;
    outline: none;
    background-color: #1E202B;
    border: none;
    color: white !important;
    width: 90%;
}

.searchInput:focus {
    box-shadow: none;
    border: none;
    background-color: #1E202B;
}
.search{
    margin-bottom: 70px;
}

.btnFind {

    position: absolute;
    top: 0.6%;
    right: 6%;
    padding: 9px 40px;
    border-radius: 20px;
    background-color: #009AD8;
    color: white;


}

.containerRow{
    width: 90%;
    margin: auto;
    background-color: #2D303D;
    border-radius: 10px;

}
.detailsToday{
    
    color:rgb(191, 193, 200) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    font-size: 14px;


}
.bodyItem{
    background-color: #323544;
    border-bottom-left-radius: 10px;
    padding-bottom: 31px;
}
input::placeholder {
    color: #6C6C6D !important
    ;
    opacity: 1; /* Firefox */
  }
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #6C6C6D ;
  }
  .location{
    color:rgb(191, 193, 200) ;
    font-size: 1.12rem
  }
  .degree .num{
    font-size: 5rem;
    color: white;
    /* text-align: center; */
    font-weight: 700;

  }
.custom{
    color:rgb(0, 154, 216);
    
}
 span{
    color:rgb(191, 193, 200) ;
    margin-right: 20px;
    margin-top: 10px;
}
.row>* {
    padding-right: 0;
    padding-left: 0;
}
.day{
    background-color: #222530;
    color:rgb(191, 193, 200) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
}
.bodyItem2{
    background-color: #262936;
    padding-bottom: 74px;
}
.degree2{
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: 700;


}
.miniDegree2{
    text-align: center;
    color:rgb(191, 193, 200) ;
    font-size: 16px;

}
.custom2{
    color:rgb(0, 154, 216);
    padding-bottom: 50px;


}
.forecastTomorrow{
    background-color: #2D303D;
    color:rgb(191, 193, 200) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    border-top-right-radius: 10px;

}
.bodyItem3{
    background-color: #323544;
    border-bottom-right-radius: 10px;
    padding-bottom: 74px;
}
.degree3{
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: 700;


}
.miniDegree3{
    text-align: center;
    color:rgb(191, 193, 200) ;
    font-size: 16px;

}
.custom3{
    color:rgb(0, 154, 216);
    padding-bottom: 50px;


}
/* ===========================footer=========================== */
.footer{
    background-color: #262936;
}
.inputSubscribe{
    padding: 20px 100px 20px 20px;
    background: #1e202b;
    width: 100%;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.submit{
    border: none;
    background: #009ad8;
    padding: 0px 20px;
    border-radius: 30px;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
.inputSubscribe::placeholder{
    color: #6C6C6D;
    opacity: 1;
}
.footerIcon a i{
    padding: 15px;
    background-color: #1E202B;
    border-radius: 50%;
    color: #009AD8;
    font-size: 20px;
    transition: all 0.4s;

}
.footerIcon a i:hover{
    background-color: #009AD8;
    color: white;
}
.textFooter{
    
    color:rgb(191, 193, 200) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.moon{
    font-size: 16px;
}
/* ============================= */
@media (max-width:768px){
    .containerRow{
        width: 100%;
        border-radius: 10px;
    }
    .bodyItem3{
        border-bottom-left-radius: 10px;
    }
    
    
   .navbar-toggler-icon{
    color: white !important;
   }

    .navbar-toggler:hover{
        border: 2px solid rgb(0, 154, 216);
    border-radius: 50%;
    }
    .navbar-nav{
        text-align: center;
    }
    .btnFind{
        top: 0.2%;
        right: 8%;

    }
   
}